spring:
  datasource:
    url: jdbc:postgresql://localhost:55432/portafolio_db
    username: portafolio_user
    password: portafolio123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: jeanpierre28.jpvv100@gmail.com
    password: fsqm mzuv dars lnog
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080
